@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
*{
    font-family: 'SF Pro Display', sans-serif;
    /* font-size: 16px; */
}
.green {
    color: #739072;
    text-decoration: none;
  }
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #739072;


  
}
nav {
    position: fixed;
    top: 30px;
    background-color: #3A4D39;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    z-index: 1;
   }
.card {
    background: #3A4D39;
    padding: 1.5em;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    color: #ECE3CE;
    border-radius: 25px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em;
    background: #ECE3CE;
    color: #3A4D39;
    font-family: inherit;
    width: 100%;
    font-size: 120%;
    border-radius: 7px;
}
.weather {
    text-align: center;
}